header {
  display: block;
  height: 150px;
  width: 100%;
  background-color: teal;
  transition: all 300ms ease;
}
.sticky-header {
  top: -150px;
  left: 0;
}
.sticky-header.fixed {
  position: fixed;
}
.sticky-header.show {
  transform: translateY(150px);
  transition: all 300ms ease;
}
